version: '3.8'

services:
  # Redis chạy trên AWS để cả 2 bên cùng gọi
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --requirepass ${REDIS_PASSWORD} 

  backend:
    image: ${DOCKERHUB_USERNAME}/mimitore-backend:latest
    restart: always
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - redis

  frontend:
    image: ${DOCKERHUB_USERNAME}/mimitore-frontend:latest
    restart: always
    ports:
      - "3000:3000"
    env_file: .env

  # Nginx (Optional nhưng khuyên dùng để làm Reverse Proxy & SSL)
  # Nếu chưa cấu hình nginx thì tạm thời bỏ qua, user truy cập qua port 3000